* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #17191d;
    color: #f5f5f5;
    line-height: 1.6;
}

header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    background: #1b1e23;
    border-bottom: 1px solid #25282e;
}

.logo {
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 1px;
}

.logo span,
h1 span,
h2 span {
    color: #ff1764;
}

nav {
    display: flex;
    gap: 28px;
}

nav a {
    color: #bdbdbd;
    text-decoration: none;
    font-size: 13px;
    transition: 0.3s;
}

nav a:hover,
nav a.active {
    color: #ff1764;
}

.hire-btn,
.pink-btn {
    display: inline-block;
    background: #ff1764;
    color: white;
    text-decoration: none;
    padding: 12px 22px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.hire-btn:hover,
.pink-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(255, 23, 100, 0.25);
}


/* HERO */

.hero {
    min-height: 620px;
    padding: 70px 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.hero-text {
    width: 550px;
}

.hero-image {
    width: 360px;
    height: 440px;
    background: #202329;
    border: 1px solid #2d3036;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-shrink: 0;
}

.small-title {
    color: #aaa;
    font-size: 11px;
    letter-spacing: 2px;
    margin-bottom: 18px;
}

.hero h1 {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 25px;
}

.description {
    color: #999;
    max-width: 520px;
    font-size: 14px;
}


.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.socials {
    display: flex;
    gap: 12px;
    margin-top: 30px;
}

.socials a {
    width: 40px;
    height: 40px;
    background: #22252b;
    color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.3s;
}

.socials a:hover {
    background: #ff1764;
    color: white;
    transform: translateY(-3px);
}


/* INTRO */

.intro {
    padding: 80px 9%;
    background: #1b1e23;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.intro-image {
  width: 360px;
    height: 360px;
    background: #202329;
    border: 3px solid #ff1764;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}


.intro-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-text {
    max-width: 570px;
    order: 1;
}

.intro-text h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.intro-text p {
    color: #999;
    font-size: 14px;
    margin-bottom: 20px;
}

.intro-text .pink-btn {
    margin-top: 10px;
}


/* FEATURED */

.featured {
    padding: 80px 9%;
}

.section-title {
    text-align: center;
    margin-bottom: 45px;
}

.section-title h2 {
    font-size: 35px;
}

.art-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.art-card {
    background: #202329;
    border: 1px solid #2b2e34;
    padding-bottom: 20px;
    transition: 0.3s;
}

.art-card:hover {
    transform: translateY(-5px);
}

.art-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.art-card h3 {
    padding: 15px 18px 3px;
    font-size: 16px;
}

.art-card p {
    padding: 0 18px;
    color: #888;
    font-size: 12px;
}


/* PAGE HEADER */

.page-header {
    text-align: center;
    padding: 90px 20px 60px;
    background: #1b1e23;
}

.page-header h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.page-header > p:last-child {
    color: #999;
}


/* ABOUT */

.about-container {
    max-width: 1100px;
    margin: auto;
    padding: 80px 30px;
    display: flex;
    gap: 70px;
    align-items: center;
}

.about-image {
   width: 360px;
    height: 360px;
    background: #202329;
    border: 3px solid #ff1764;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.about-content p {
    color: #999;
    font-size: 14px;
    margin-bottom: 18px;
}

.info-section {
    padding: 60px 9%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.info-box {
    background: #202329;
    border: 1px solid #2a2d33;
    padding: 30px;
}

.info-box h3 {
    color: #ff1764;
    margin-bottom: 10px;
}

.info-box p {
    color: #ccc;
}

.info-box small {
    color: #777;
}


/* PORTFOLIO */

.portfolio-grid {
    padding: 30px 9% 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.portfolio-card {
    background: #202329;
    border: 1px solid #2b2e34;
    overflow: hidden;
    transition: 0.3s;
}

.portfolio-card:hover {
    transform: translateY(-7px);
    border-color: #ff1764;
}

.portfolio-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.portfolio-card div {
    padding: 18px;
}

.portfolio-card h3 {
    font-size: 17px;
}

.portfolio-card p {
    color: #888;
    font-size: 12px;
}


/* SKILLS */

.skills-container {
    max-width: 900px;
    margin: auto;
    padding: 70px 30px;
}

.skill {
    margin-bottom: 30px;
}

.skill-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.skill-title h3 {
    font-size: 15px;
}

.skill-title span {
    color: #ff1764;
    font-size: 13px;
}

.bar {
    width: 100%;
    height: 7px;
    background: #292c31;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: #ff1764;
}

.software-section {
    padding: 70px 9%;
    text-align: center;
    background: #1b1e23;
}

.software-section h2 {
    font-size: 35px;
    margin-bottom: 35px;
}

.software-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.software-grid div {
    background: #202329;
    padding: 25px;
    border: 1px solid #2c2f35;
}


/* CONTACT */

.contact-container {
    max-width: 1100px;
    margin: auto;
    padding: 80px 30px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
}

.contact-info h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.contact-info > p {
    color: #999;
    margin-bottom: 30px;
}

.contact-item {
    margin-bottom: 25px;
}

.contact-item strong {
    color: #ff1764;
}

.contact-item p {
    color: #aaa;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea {
    width: 100%;
    padding: 15px;
    background: #202329;
    border: 1px solid #30333a;
    color: white;
    outline: none;
    font-family: inherit;
}

input:focus,
textarea:focus {
    border-color: #ff1764;
}

button {
    border: none;
    padding: 15px;
    background: #ff1764;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}


/* FOOTER */

footer {
    padding: 25px;
    text-align: center;
    background: #111317;
    color: #666;
    font-size: 12px;
}


/* RESPONSIVE */

@media (max-width: 900px) {

    header {
        padding: 0 5%;
    }

    nav {
        gap: 12px;
    }

    .hero {
        padding: 60px 6%;
        flex-direction: column;
        text-align: center;
    }

    .hero-image {
        width: 300px;
        height: 380px;
    }

    .socials {
        justify-content: center;
    }

    .intro {
        flex-direction: column;
        text-align: center;
    }

    .art-grid,
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .info-section {
        grid-template-columns: 1fr;
    }

    .software-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-container {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 600px) {

    header {
        height: auto;
        padding: 20px;
        flex-direction: column;
        gap: 18px;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hire-btn {
        display: none;
    }

    .hero h1 {
        font-size: 35px;
    }

    .page-header h1 {
        font-size: 38px;
    }

    .art-grid,
    .portfolio-grid {
        grid-template-columns: 1fr;
    }

    .software-grid {
        grid-template-columns: 1fr;
    }

    .about-image {
        width: 100%;
        max-width: 350px;
    }
}

